<h1>Add post</h1>
<form action="/posts/add" method="POST">
    <div class="row">
        <div class="col-6">
            <label>
                Title
            </label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="content">
                Content
            </label>
            <textarea name="content" id="content" rows="5" placeholder="None" class="form-control"></textarea>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Post"/>
</form>
