<h1>Add post</h1>
<form action="/posts/add" method="POST">
    <div class="grid-x">
        <div class="cell medium-6">
            <label>
                Title
                <input type="text" name="title" id="title"/>
            </label>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell medium-6">
            <label for="content">
                Content
                <textarea name="content" id="content" rows="5" placeholder="None"></textarea>
            </label>
        </div>
    </div>
    <input class="hollow button primary" type="submit" value="Post"/>
</form>
